<!--AngularJS Login View

The Login View contains a small form with the usual fields for username
and password, and some validation directives and messages.-->


<div class="container-fluid">

    <!--TODO: Traduzir help blocks-->
    <form class="form-signin" ng-submit="vm.login()" role="form">
        <div class="form-signin-header">
            <img src="images/logo.png" />
            <h2 id="title">mktlist</h2>
        </div>

        <div class="form-signin-main">
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                <label class="control-label sr-only" for="inputUsername">usuário</label>
                <input type="text" class="form-control" id="inputUsername" placeholder="usuário" ng-model="vm.username" required>
                <i class="fa fa-user fa-lg form-control-feedback mute" aria-hidden="true"></i>
                <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
            </div>


            <div class="form-group has-feedback" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                <label class="control-label sr-only" for="inputPassword">senha</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="senha" ng-model="vm.password" required>
                <i class="fa fa-unlock-alt fa-lg form-control-feedback mute" aria-hidden="true"></i>
                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            </div>
            <!-- TODO: incluir campo esqueceu a senha
                <div class="form-sign-a">
                    <a href="#">esqueceu sua senha?</a>
                </div>
                -->
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Entrar</button>
                <i ng-if="vm.dataLoading" class="fa fa-spinner fa-spin fa-lg"></i>
                <a href="#/register" class="btn btn-link">Registrar</a>
            </div>
        </div>
        <div class="form-signin-footer">
            <a href="#">entrar offline</a><p class="mute pull-right">v 0.2</p>
        </div>
    </form>

</div> <!-- /container -->