/*listas view*/
.container-padding {
    padding: 10px 15px;
}

.mkt-listview, .mkt-listview-item {
    border: none !important;
    border-radius: 0 !important;
    background: none !important;
    overflow-y: auto;
}

.mkt-listview-item {
    width: 100%;
    height: 42px;
    margin-bottom: 2px;
    padding: 5px 10px;
    background-color: #2B2B2B;
    background-color: rgba(43, 43, 43, 0.6) !important;
    color: #dcdcdc !important;
    overflow: hidden;
}

.mkt-listview-item-ico {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 10px;
}

.mkt-listview-item-text {
    width: calc(100% - 58px);
    height: 32px;
    float: left;
    overflow: hidden;
}

.mkt-listview-item-top {
    width: 100%;
    height: 20px;
}

.mkt-listview-item-top-title {
    float: left;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
}

.mkt-listview-item-top-date {
    width: 40px;
    float: right;
    text-align: right;
    font-size: 12px;
    line-height: 12px;
    overflow: hidden;
    /*color: rgba(255, 255, 255, .4);*/
}

.mkt-listview-item-bottom {
    width: 100%;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    overflow: hidden;
    color: #808080;
    z-index: 5;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 32px;
    background:#6c6d70!important;
    color:#fff!important;
}
