
<div class="container-fluid container-padding">
    <h1>{{vm.list.title}}<br /><small>{{vm.list.store}}</small></h1>

    <hr />

    <div ng-if="vm.allitems.length > 0">
        <p>produto <span class="pull-right">$$</span></p>
        <p ng-repeat="x in vm.allitems">{{x.product}} <span class="pull-right text-right">{{x.amount * x.price}} <i class="fa fa-trash" ng-click="vm.deleteitem(x.ID)"></i></span></p>
    </div>


    <div data-win-control="WinJS.UI.ContentDialog" data-win-options="{
             title: 'Add Item',
             primaryCommandText: '  ok',
             secondaryCommandText: 'cancel'
        }">

        <form name="form" ng-submit="vm.newitem()" role="form">
            <!--TODO: Traduzir help blocks-->
            <div class="form-group" ng-class="{ 'has-error': form.product.$dirty && form.product.$error.required }">
                <label class="control-label" for="product">Produto: </label>
                <input type="text" class="form-control" id="product" ng-model="vm.nitem.product" required>
                <span ng-show="form.title.$dirty && form.title.$error.required" class="help-block">product is required</span>
            </div>

            <div class="form-group" ng-class="{ 'has-error': form.price.$dirty && form.price.$error.required }">
                <label class="control-label" for="store">Preço: </label>
                <input type="text" class="form-control" id="price" ng-model="vm.nitem.price" required>
                <span ng-show="form.price.$dirty && form.price.$error.required" class="help-block">price is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.amount.$dirty && form.amount.$error.required }">
                <label class="control-label" for="amount">Amount: </label>
                <input type="text" class="form-control" id="amount" ng-model="vm.nitem.amount" required>
                <span ng-show="form.amount.$dirty && form.amount.$error.required" class="help-block">color is required</span>
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Incluir</button>
                <i ng-if="vm.dataLoading" class="fa fa-spinner fa-spin fa-lg"></i>
            </div>
        </form>
    </div>



</div>


<footer class="footer">
    <div class="container-fluid">
        <span class="pull-right text-right" ng-click="vm.showContentDialog()"><i class="fa fa-trash fa-lg"></i></span>
    </div>
</footer>