
<div class="container-fluid container-padding">
    <h1>Listas compradas <small>{{vm.user.firstName}}</small></h1>

    <p><a href="#/createlist" class="btn btn-primary">Criar lista</a></p>

    <div class="list-group mkt-listview">
        <a ng-repeat="x in vm.allLists" href  ng-click="vm.go('/detailslist/1' )"  class="list-group-item mkt-listview-item" >
            <div class="mkt-listview-item-ico" style="background-color:{{x.color}};"><!--<img src="{{x.icon}}" />--></div>
            <div class="mkt-listview-item-text">
                <div class="mkt-listview-item-top">
                    <div class="mkt-listview-item-top-title">{{x.title}}</div>
                    <div class="mkt-listview-item-top-date">{{x.date}}</div>
                </div>
                <div class="mkt-listview-item-bottom">{{x.store}}</div>
            </div>
        </a>
    </div>

    
</div>
